body {
    background-color: #BDCFF2;
    margin: 0;
}
.topnav {
    background-color: white;
    overflow: hidden;
    height: 6vh;
    padding-inline: 5%;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    height: 100%;
  }
  .icons img {
    padding-block: 25%;
    height: 50%;
  }
.content {
    padding-top: 5%;
    padding-left: 5%;
    display: flex;
    gap: 250px;
}
/* .bulletPointList {
    padding-top: 2%;
    padding-left: 5%;
}
.counter {
    padding-left: 5%;
} */